body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 16px;
    min-width: 1660px;
}

.content {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    height: 450px;
    background-size: cover;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;

    background-color: #000000;
    position: relative;

}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #000000;
    opacity: 0.60;

}


.header-content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.header-navigation {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    width: 179px;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

.header-menu-list-item:nth-child(n+2){
    padding-left: 23px;
}

.header-menu-list-item-link {
    font-family: "Open Sans", serif;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

}

.header-menu-list-item-link:hover {
    border-bottom: 1px solid #ffffff;
}

.header-description {
    width: 691px;
    margin-left: auto;
    margin-right: auto;
}

.header-description-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 53px;
    text-align: center;
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 75px;
    text-transform: uppercase;
    color: #ffffff;
}

.page-content {
    margin-left: auto;
    margin-right: auto;
    background-color: #b6ad34;
    display: flex;
    justify-content: space-between;
}

.main {
    background-color: lightblue;
    width: 778px;
    box-sizing: border-box;

}
.main-content {
    display: flex;
justify-content: space-between;
}

.main-content-image {
    width: 381px;
    box-sizing: border-box;
}

.main-content-news {
    width: 367px;
    box-sizing: border-box;
    background-color: darkcyan;
}



.aside {
    width: 272px;
    background-color: darkseagreen;
    box-sizing: border-box;
}

.footer-content {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: palegreen;
}